extends layout

block variables
  - var title = 'Dashboard';

block content
  .row
    .column
    
      h3.text-center Virtual Library

      .view-selectors
        button(id="list-view" class="fa fa-list view-selected")
        button(id="gallery-view" class="fa fa-th")

      #booklist-container

      .utility-buttons
        form(id="add-book-form" method="POST" action="/books")
        button(id="add-book-button" class="fa fa-plus")

    <!-- JS
    <!-- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    script(src="javascripts/dashboard-library.js")
