block footer
  // block specific stylesheet
  link(rel="stylesheet" href="stylesheets/footer.css")

  footer.footer
    div.footer-links
      div.container
        div.row
          div.d-flex.justify-content-center
            a.social-link(href="#")
              i.bi.bi-twitter
            a.social-link(href="#")
              i.bi.bi-github
            a.social-link(href="#")
              i.bi.bi-linkedin

    div.container
      div.d-flex.justify-content-center
        span Copyright &copy; #[strong Bibliophile] 2021 Built with #[a(href="https://expressjs.com") Express.js], login powered by #[a(href="https://developer.okta.com/") Okta].

