block footer
  // block specific stylesheet
  // link(rel="stylesheet" href="stylesheets/footer.css")

  footer.footer
    div.footer-links
      div.container
        div.row.d-flex.justify-content-center
          div.d-flex.justify-content-center
            a.social-link(href="https://github.com/feydor/bibliophile")
              i.bi.bi-github
            a.social-link(href="https://linkedin.com")
              i.bi.bi-linkedin

    div.container
      div.d-flex.justify-content-center
        span Copyright &copy; #[strong Bibliophile] 2021 Built with #[a(href="https://expressjs.com") Express.js], login powered by #[a(href="https://auth0.com/") Auth0].

