block header

  // ======= Header =======
  header#header.header.fixed-top
    div.container-fluid.container-l.d-flex.align-items-center.justify-content-between
      
      a.logo.d-flex.align-items-center(href="/")
        img(src="images/logo.png" alt="logo")  
        span Bibliophile

      nav#navbar.navbar
        
        ul
          li
            a.nav-link(href="/") Home
          li
            a.nav-link(href="/dashboard") Library
          li.dropdown.mr-4
            a.nav-link(href="/profile")
              if user
                span= user.profile.login
                img.img-fluid.profile-img(src="images/user-profile.svg")
              else
                span= USERNAME

        i.bi.bi-list.mobile-nav-toggle

  // -- End Header --

  // block specific javascript
  script(src="javascripts/nav.js")

