extends layout

block variables
  - var title = 'Home';

block content
  h2.text-center Virtual Library

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to your new Virtual Library! Please visit the
        #[a(href="https://github.com/rdegges/okta-express-login-portal", title="okkta-express-login-portal on GitHub") GitHub page] to learn more.
