extends helmet

block page
  // link(rel="stylesheet" href="stylesheets/splash.css")
  body
    link(rel="stylesheet" href="stylesheets/main.css")

    include header
    
    // Begin Page Content
    div.container
      block content
    // End of Main Content

    // Footer
    include footer
    // End of Footer
