extends helmet

block page
  body
    
    include header
    
    // Begin Page Content
    div.container-fluid
      block content
    // End of Main Content

    // Footer
    include footer
    // End of Footer
