extends helmet

block page
  body(data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="100")
    
    include header

    // Javascripts
    script(type="text/javascript" src="javascripts/sidebar.js")
    
    // Begin Page Content
    div.container-fluid
      block content
    // End of Main Content
  
    // Footer
    include footer
    // End of Footer
