/**
 * stylesheet for views/dashboard
 */

.invalid-input {
  border: red 2px solid;
}

.table-responsive {
  padding: 0 10px 0 10px;
}

#bookListCard {
  padding-top: 0px;
}

#cancelButton {
  margin-left: 5px;
  margin: auto;
}

#submitButton {
  margin: auto;
}

#submitButton:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

/* Aligns book covers in gallery view */
#gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Adds space between book cover cards */
#gallery .card {
  margin: 5px;
}

/* Stretches cover image across the .card div */
#gallery .card img {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

#empty-booklist-container {
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 100%;
}

.extra-info-btn {
  margin-bottom: 0.5rem;
}

/* Fixes alignment of extra description dropdown row in table */
.extra-info-row {
  display: flex;
  justify-content: center;
}

/* shrinks covers in .extra-info-row */
img {
  object-fit: contain;
  max-width: 200px;
  padding: 0;
}

.extra-info-row table {
  margin: 10px;
}

.extra-info-row button {
  max-height: 80px;
}

/* shrinks covers in reccs tab */
.reccs-cover {
  margin: 3px 10px 3px 3px;
}

/* remove unneccesary padding */
.list-group-item, .col-12 {
  padding-left: 0;
  padding-right: 0;
}

/* fix rendering for reccs tab on mobile */
@media (max-width: 768px) {
  #reccs-container h3 {
    font-size: 1.2rem;
  }
  #reccs-container h4 {
    font-size: 1.0rem;
  }
  #reccs-container ul {
    font-size: 0.8rem;
  }

  .reccs-btn-group a {
    font-size: 0.8rem;
  }

  .col-4 {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.dark-mode {
  background-color: #121212;
  color: white;
  font-weight: 350;
}

.dark-mode input {
  color: black;
}
.dark-mode label {
  color: black;
}

/* smooth scroll after hitting add form button */
html {
  scroll-behavior: smooth;
}
