/**
 * stylesheet for views/dashboard
 */

.invalid-input {
  border: red 2px solid;
}

.table-responsive {
  padding: 0 10px 0 10px;
}

#bookListCard {
  padding-top: 0px;
}

#cancelButton {
  margin-left: 5px;
  margin: auto;
}

#submitButton {
  margin: auto;
}

#submitButton:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

/* Aligns book covers in gallery view */
#gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Adds space between book cover cards */
#gallery .card {
  margin: 5px;
}

/* Stretches cover image across the .card div */
#gallery .card img {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

#empty-booklist-container {
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 100%;
}

.extra-info-btn {
  margin-bottom: 0.5rem;
}

/* Fixes alignment of extra description dropdown row in table */
.extra-info-row {
  display: flex;
  justify-content: center;
}

.extra-info-row table {
  margin: 10px;
}

/* shrinks covers in reccs tab */
.reccs-cover {
  margin: 3px 10px 3px 3px;
  object-fit: contain;
  max-width: 200px;
  max-height: 250px;
}


.dark-mode {
  background-color: #121212;
  color: white;
  font-weight: 350;
}

.dark-mode input {
  color: black;
}
.dark-mode label {
  color: black;
}

/* smooth scroll after hitting add form button */
html {
  scroll-behavior: smooth;
}
