/**
 *  Stylesheet for footer.pug
 */

.footer {
  width: 100%;
  padding-bottom: 2vh;
  background-color: $secondary-color;
  background-image: linear-gradient(
    45deg,
    $secondary-color 0%,
    $tertiary-color 100%
  );
}

.footer .footer-links a {
  font-size: 30px;
  color: $text-color;
}

.footer .social-link {
  margin: 0 10px 5px 10px;
}
