/**
 *  Stylesheet for splash.pug
 */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
  --primary-color: #FFFB7D;
  --secondary-color: #00c3ff;
  --tertiary-color: #c2ff7d;
  
  --text-color: #444444;
  --text-color-bold : black;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Splash Section
--------------------------------------------------------------*/
.splash {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

/* main blurb */
.splash h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: var(--text-color);
}

/* sub-blurb */
.splash h2 {
  color: var(--text-color);
  margin: 15px 0 0 0;
  font-size: 26px;
}

.splash .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: var(--secondary-color);
  box-shadow: 0px 1px 5px var(--secondary-color);
}

.splash .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.splash .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.splash .btn-get-started:hover i {
  transform: translateX(5px);
}

.splash .splash-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .splash {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .splash {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .splash .splash-img {
    text-align: center;
    margin-top: 80px;
  }
  .splash .splash-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .splash {
    text-align: center;
  }
  .splash h1 {
    font-size: 32px;
  }
  .splash h2 {
    font-size: 24px;
  }
  .splash .splash-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# About section
--------------------------------------------------------------*/
.about .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.about .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
