body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

#list-view, #gallery-view {
    margin: auto;
}

/* Puts Table header and view-selectors on the same line */
.table-header-div {
  display: flex;
  justify-content: space-between;
}

.invalid-input {
  border: red 2px solid;
}

#cancelButton {
    margin-left: 5px;
    margin: auto;
}

#submitButton {
  margin: auto;
}
#submitButton:disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

#booklist-table {
  margin: 0;
}

.dark-mode {
    background-color: #121212;
    color: white;
    font-weight: 350;
}

.dark-mode input {
    color: black;
}

a {
  color: #00B7FF;
}

.top-bar a {
  text-decoration: none;
  color: inherit;
}

footer {
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 4em !important;
  padding-top: 1em;
  text-align: center;
  margin-top: 1em;
}

h2 {
  margin-bottom: 2em;
}

.container {
  padding-top: 2em;
}
