// pug.js mixins for views/dashboard

// a table containing the user's library
mixin YourLibrary
  div.card.shadow.mb-4
    div.card-header.py-3
      div.table-header.d-flex.justify-content-between
        h5.font-weight-bold Your Library
        div.view-selectors 
          button#list-view.view-selected.mr-1.btn.btn-sm.btn-outline-primary
            i.bi.bi-list
          button#gallery-view.btn.btn-sm.btn-outline-secondary
            i.bi.bi-view-list
    
    div#bookListCard.card-body
      div.table-responsive
        // root node of table
        #booklist-container.table.m-0(width="100%" cellspacing="0")
          div#empty-booklist-container.py-4 
            i.bi.bi-emoji-dizzy(style="font-size: 4rem")
            p No books in your collection 


    // Add books form
    div.card-body
      div.d-flex.justify-content-center.utility-buttons
        form#add-book-form(method="POST" action="/books")
        button#add-book-button.btn.btn-primary Add a Book 
          i.bi.bi-book(style="font-size: 1.5rem")

// a table containing the user's reccomended reading list
mixin YourReccs
  div.card.shadow.mb-4
    div.card-header.py-3
      div.table-header.d-flex.justify-content-between
        h5.font-weight-bold Your Reccomendations
    
    div#reccs-card.card-body
      // root table node
      #reccs-container
        div#empty-booklist-container.py-4 
          i.bi.bi-emoji-dizzy(style="font-size: 4rem")
          p Add books to see reccomendations 

// a graph showing number of books read vs total books
mixin YourStats
  div.card.shadow.mb-4
    div.card-header.py-3
      div.table-header.d-flex.justify-content-between
        h5.font-weight-bold Your Statistics
    
    div#reccs-card.card-body
      // root table node
      #stats-container
